@charset "UTF-8";

// Brand|Theme
@import 'globals'; // Resets and baselines for breakpoints, padding, fonts, links, navbar.
@import 'brand/fonts'; // font-face declarations.
@import 'brand/palette'; // Named colors, including variations for text-on-background.
@import 'brand/typography'; // Headings, paragraph, lists.

// Mixins|Utilities
@import 'utils/common-utils'; // Common utilities for overflow, responsive images, flexbox, gutter add/remove.
@import 'utils/color-functions'; // Helper functions for shading, blends, drop-shadows.
@import 'utils/font-sizing'; // Utilities for font-sizing to rems based on baselines.

// Frameworks
// Builders for frameworks such as Vuetify, Bootstrap.

// Layout
// Custom layouts not included in frameworks.

// Modules
// Styles that apply to modules (these should be written so they can be packaged with the module stand-alone).

// Vendor
// Extra styles needed by imported vendor libraries.

// Overrides
// After all the baseline styles have loaded, apply any overrides (usually to frameworks).

// Shame
@import 'shame'; // Hacks that really should be put into a module or an override.

// EOF
